In [6]:
library(coursekata)
options(repr.plot.width=15, repr.plot.height=10)
update_geom_defaults("point", list(shape=16, size = 8))
my_theme = theme(
        axis.text=element_text(size=24),
        axis.title=element_text(size=24,face="bold"),
        legend.text=element_text(size=24),
        legend.title=element_text(size=24,face="bold")
)
theme_set(my_theme)

In [7]:
dat <- read.csv('https://skewthescript.org/s/four_year_colleges.csv')
head(dat)

  OPEID  name                                city       state region
1 100200 Alabama A & M University            Normal     AL    South
2 105200 University of Alabama at Birmingham Birmingham AL    South
3 105500 University of Alabama in Huntsville Huntsville AL    South
4 100500 Alabama State University            Montgomery AL    South
5 105100 The University of Alabama           Tuscaloosa AL    South
6 831000 Auburn University at Montgomery     Montgomery AL    South
  median_debt default_rate highest_degree ownership locale     ⋯ avg_cost
1 15.250      12.1         Graduate       Public    Small City ⋯ 23.445
2 15.085       4.8         Graduate       Public    Small City ⋯ 25.542
3 14.000       4.7         Graduate       Public    Small City ⋯ 24.861
4 17.500      12.8         Graduate       Public    Small City ⋯ 21.892
5 17.671       4.0         Graduate       Public    Small City ⋯ 30.016
6 12.000       8.2         Graduate       Public    Small City ⋯ 20.225
  net_tuition ed_spending_per_student avg_faculty_salary pct_PELL pct_fed_loan
1  8.101       4.836                   7.599             70.95    75.04
2 11.986      14.691                  11.380             33.97    46.88
3  8.279       8.320                   9.697             24.03    38.55
4  9.302       9.579                   7.194             73.68    78.05
5 14.705       9.650                  10.349             17.18    36.44
6  7.995       6.289                   7.729             46.54    53.55
  grad_rate pct_firstgen med_fam_income med_alum_earnings
1 28.66     36.58281     23.5530        36.339
2 61.17     34.12237     34.4890        46.990
3 57.14     31.01322     44.7870        54.361
4 31.77     34.34343     22.0805        32.084
5 72.14     22.57127     66.7335        52.751
6 30.40     38.18961     29.6715        41.679

**a. What does this help visualize?**

In [ ]:
gf_point(pct_PELL ~ ..., color = ~..., data = dat)

**b. Translate the visualization above into a model**

In [ ]:
model <- lm(pct_PELL ~ ... + ..., data = dat)
model

**c. Sumarrize the statistics from the model above**

In [ ]:
summary(...)

**d. In one sentence, what do the slopes of each of your predictors represent?**

... double-click here to answer ...

**e. What is your $R^2$ value? In one sentence, how would you describe this value in the context of your model?**

... double-click here to answer ...

**f. Mess around with your linear model to see if you can improve your $R^2$.**

In [ ]:
model1 <- lm(pct_PELL ~ ... + ..., data = dat)
# model2 <- lm(pct_PELL ~ ... + ... + ..., data = dat)
# model3 <- lm(pct_PELL ~ ... + ... + ... + ..., data = dat)
# model4 <- lm(pct_PELL ~ ... + ... + ... + ... + ...., data = dat)

#model1_sum <- summary(model1)$r.squared
# model2_sum <- summary(model2)$r.squared
# model3_sum <- summary(model3)$r.squared
# model4_sum <- summary(model4)$r.squared

#print(model1_sum)
# print(model2_sum)
# print(model3_sum)
# print(model4_sum)